<h1>Song Wall</h1>


<p>
<a href="/songs">Check out the Song Wall</a>
</p>
<% if login? %>
  <p>
  <a href="/songs/new">Share a song on the song wall</a>
  </p>
  <% else %>
  <p><a href="/users/new">Sign up</a> to Share a Song</p>
<%end%>
